Repository ZetahDev/conversaai: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

🔧 Complete Codecov integration with bundle analysis
  .github/workflows/ci.yml
  CODECOV_SETUP.md
  frontend/astro.config.mjs
  frontend/package.json
Due: none

🔧 Fix CI/CD pipeline - Simplify tests for initial success
  .github/workflows/ci.yml
Due: none

🔧 Fix CI/CD pipeline issues - Update actions and dependencies
  .github/workflows/ci.yml
  frontend/package-lock.json
Due: none

🔒 Fix CI/CD security issues properly - Maintain full security
  .github/workflows/ci.yml
  backend/requirements-ci.txt
  backend/requirements.txt
  frontend/astro.config.mjs
  frontend/src/middleware.ts
Due: frontend

🔧 Fix CI/CD build issues - Proper import resolution and coverage
  .github/workflows/ci.yml
  frontend/src/middleware.ts
Due: frontend

🔧 Fix GitHub Actions workflow syntax error
  .github/workflows/ci.yml
Due: none

🔧 Fix codecov action configuration - Remove unsupported working-directory
  .github/workflows/ci.yml
Due: none

🔧 Fix .gitignore excluding frontend lib directory - Add missing config files
  .gitignore
  frontend/src/lib/api.ts
  frontend/src/lib/auth.ts
  frontend/src/lib/config.ts
  frontend/src/lib/integrations-api.ts
  frontend/src/lib/logger.ts
  frontend/src/lib/store.ts
  frontend/src/lib/validation.ts
  frontend/src/middleware.ts
Due: frontend

feat: Rename project from ChatBot SAAS to ConversaAI across all files and configurations
  .env.example
  Makefile
  backend/.env.example
  backend/.env.staging
  backend/CONFIGURATION.md
  backend/ChatBot_SAAS_API.postman_collection.json
  backend/app/__init__.py
  backend/app/api/v1/router.py
  backend/app/integrations/telegram.py
  backend/app/integrations/web_widget.py
  backend/scripts/check_dependencies.py
  backend/scripts/init_db.py
  backend/scripts/set_environment.py
  backend/scripts/start_dev.py
  backend/tests/__init__.py
  docs/DEPLOYMENT.md
  frontend/.env.example
  frontend/DEPLOYMENT.md
  frontend/scripts/deploy.js
  frontend/scripts/test-connection.js
  frontend/src/components/Footer.astro
  frontend/src/components/Navbar.astro
  frontend/src/layouts/Layout.astro
  frontend/src/pages/analytics.astro
  frontend/src/pages/chatbots.astro
  frontend/src/pages/chatbots/create.astro
  frontend/src/pages/conversations.astro
  frontend/src/pages/index.astro
  frontend/src/pages/logout.astro
  frontend/src/pages/settings.astro
  frontend/src/types/api.ts
  scripts/deploy.sh
  scripts/monitor.sh
  start-dev.bat
  start-dev.sh
Due: backend, frontend

Path conditions:
  backend: any of: backend/app/
  frontend: any of: frontend/src/
